In [2]:
# Libraries
#invite people for the Kaggle party
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import VarianceThreshold
from sklearn import preprocessing
from scipy import stats
from pandas import Series, DataFrame
from pandas.plotting import autocorrelation_plot
#from pandas.tools.plotting import scatter_matrix
from pylab import rcParams
from matplotlib import collections as collections
from matplotlib.patches import Rectangle
from itertools import cycle

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

rcParams['figure.figsize'] = 5,4
sb.set_style('whitegrid')
from numpy import median
from numpy import mean

In [4]:
df = pd.read_csv('credit-g1.csv')

In [5]:
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,'no checking',24,'existing paid',radio/tv,3430,500<=X<1000,>=7,3,'male single',none,...,car,31,none,own,1,skilled,2,yes,yes,good
1,'no checking',48,'critical/other existing credit',education,6110,<100,1<=X<4,1,'male single',none,...,'no known property',31,bank,'for free',1,skilled,1,yes,yes,good
2,'no checking',12,'existing paid',radio/tv,1262,<100,1<=X<4,3,'male single',none,...,car,25,none,own,1,skilled,1,none,yes,good
3,'no checking',12,'critical/other existing credit',radio/tv,618,<100,>=7,4,'male single',none,...,'real estate',56,none,own,1,skilled,1,none,yes,good
4,'no checking',24,'existing paid','new car',1469,100<=X<500,>=7,4,'male mar/wid',none,...,'real estate',41,none,rent,1,'unskilled resident',1,none,yes,good

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 21 columns):
checking_status           50 non-null object
duration                  50 non-null int64
credit_history            50 non-null object
purpose                   50 non-null object
credit_amount             50 non-null int64
savings_status            50 non-null object
employment                50 non-null object
installment_commitment    50 non-null int64
personal_status           50 non-null object
other_parties             50 non-null object
residence_since           50 non-null int64
property_magnitude        50 non-null object
age                       50 non-null int64
other_payment_plans       50 non-null object
housing                   50 non-null object
existing_credits          50 non-null int64
job                       50 non-null object
num_dependents            50 non-null int64
own_telephone             50 non-null object
foreign_worker            50 non-null object
class                     50 non-null object
dtypes: int64(7), object(14)
memory usage: 8.3+ KB