In [1]:
import numpy as np  
import matplotlib.pyplot as plt  
import pandas as pd  
#from apyori import apriori

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

ModuleNotFoundError: No module named 'mlxtend'

In [3]:
movie_data = pd.read_csv('movie_dataset.csv', header = None)
num_records = len(movie_data)
print(num_records)

7501

In [4]:
movie_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,The Revenant,13 Hours,Allied,Zootopia,Jigsaw,Achorman,Grinch,Fast and Furious,Ghostbusters,Wolverine,Mad Max,John Wick,La La Land,The Good Dunosaur,Ninja Turtles,The Good Dunosaur Bad Moms,2 Guns,Inside Out,Valerian,Spiderman 3
1,Beirut,Martian,Get Out,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Deadpool,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,X-Men,Allied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ninja Turtles,Moana,Ghost in the Shell,Ralph Breaks the Internet,John Wick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
store_data = movie_data.stack()
store_data = store_data.reset_index()
del store_data['level_1']
store_data.rename(columns={0:'movie'}, inplace=True)
store_data.rename(columns={'level_0':'nro'}, inplace=True)

In [ ]:
store_data.head()

In [10]:
store_data.shape

(29363, 2)

In [11]:
store_data = store_data.groupby(['nro', 'movie']).size()

In [13]:
store_data.head(30)

nro  movie
0    13 Hours                      1
     2 Guns                        1
     Achorman                      1
     Allied                        1
     Fast and Furious              1
     Ghostbusters                  1
     Grinch                        1
     Inside Out                    1
     Jigsaw                        1
     John Wick                     1
     La La Land                    1
     Mad Max                       1
     Ninja Turtles                 1
     Spiderman 3                   1
     The Good Dunosaur             1
     The Good Dunosaur Bad Moms    1
     The Revenant                  1
     Valerian                      1
     Wolverine                     1
     Zootopia                      1
1    Beirut                        1
     Get Out                       1
     Martian                       1
2    Deadpool                      1
3    Allied                        1
     X-Men                         1
4    Ghost in the Shell            1
     John Wick                     1
     Moana                         1
     Ninja Turtles                 1
dtype: int64

In [14]:
temp = store_data.unstack(level=-1)

In [15]:
temp.head()

movie,13 Hours,2 Guns,21 Street,Achorman,Allied,Aloha,Angry Birds,Ant Man,Aquaman,Atomic Blonde,...,Watchmen,Wolf,Wolverine,Wonder Woman,World War Z,Wrinkle in Time,X-Men,Zootopia,strawberries,water spray
nro,,,,,,,,,,,,,,,,,,,,,
0,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
productos = temp.reset_index().fillna(0).set_index('nro')

In [17]:
productos.head()

movie,13 Hours,2 Guns,21 Street,Achorman,Allied,Aloha,Angry Birds,Ant Man,Aquaman,Atomic Blonde,...,Watchmen,Wolf,Wolverine,Wonder Woman,World War Z,Wrinkle in Time,X-Men,Zootopia,strawberries,water spray
nro,,,,,,,,,,,,,,,,,,,,,
0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
store_prods = productos.applymap(encode_units)
store_prods

movie,13 Hours,2 Guns,21 Street,Achorman,Allied,Aloha,Angry Birds,Ant Man,Aquaman,Atomic Blonde,...,Watchmen,Wolf,Wolverine,Wonder Woman,World War Z,Wrinkle in Time,X-Men,Zootopia,strawberries,water spray
nro,,,,,,,,,,,,,,,,,,,,,
0,1,1,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
frequent_itemsets = apriori(store_prods, min_support=0.0053, use_colnames=True) # min_support = 0.07
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Coco),(13 Hours),0.163845,0.020397,0.005999,0.036615,1.795099,0.002657,1.016834
1,(13 Hours),(Coco),0.020397,0.163845,0.005999,0.294118,1.795099,0.002657,1.184553
2,(Get Out),(13 Hours),0.179709,0.020397,0.006532,0.036350,1.782108,0.002867,1.016555
3,(13 Hours),(Get Out),0.020397,0.179709,0.006532,0.320261,1.782108,0.002867,1.206774
4,(Ninja Turtles),(13 Hours),0.238368,0.020397,0.007599,0.031879,1.562914,0.002737,1.011860
5,(13 Hours),(Ninja Turtles),0.020397,0.238368,0.007599,0.372549,1.562914,0.002737,1.213851
6,(Tomb Rider),(13 Hours),0.174110,0.020397,0.005999,0.034456,1.689262,0.002448,1.014561
7,(13 Hours),(Tomb Rider),0.020397,0.174110,0.005999,0.294118,1.689262,0.002448,1.170011
8,(Coco),(Allied),0.163845,0.033329,0.007066,0.043124,1.293907,0.001605,1.010237
9,(Allied),(Coco),0.033329,0.163845,0.007066,0.212000,1.293907,0.001605,1.061111
10,(Hotel Transylvania),(Allied),0.170911,0.033329,0.007999,0.046802,1.404243,0.002303,1.014135
11,(Allied),(Hotel Transylvania),0.033329,0.170911,0.007999,0.240000,1.404243,0.002303,1.090907
12,(John Wick),(Allied),0.132116,0.033329,0.006266,0.047427,1.422995,0.001863,1.014800
13,(Allied),(John Wick),0.033329,0.132116,0.006266,0.188000,1.422995,0.001863,1.068823
14,(Moana),(Allied),0.129583,0.033329,0.007466,0.057613,1.728626,0.003147,1.025769
15,(Allied),(Moana),0.033329,0.129583,0.007466,0.224000,1.728626,0.003147,1.121672
16,(Allied),(Ninja Turtles),0.033329,0.238368,0.011598,0.348000,1.459926,0.003654,1.168147
17,(Ninja Turtles),(Allied),0.238368,0.033329,0.011598,0.048658,1.459926,0.003654,1.016113
18,(Tomb Rider),(Allied),0.174110,0.033329,0.007999,0.045942,1.378438,0.002196,1.013220
19,(Allied),(Tomb Rider),0.033329,0.174110,0.007999,0.240000,1.378438,0.002196,1.086697

In [20]:
frequent_itemsets.tail()

      support                                           itemsets
666  0.006799  (The Good Dunosaur Bad Moms, Tomb Rider, Ninja...
667  0.008532          (Tomb Rider, The Revenant, Ninja Turtles)
668  0.007466                  (Tomb Rider, Thor, Ninja Turtles)
669  0.009332           (Tomb Rider, World War Z, Ninja Turtles)
670  0.006399                 (Tomb Rider, X-Men, Ninja Turtles)

In [21]:
rules[rules['antecedent support'] > 0.10]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Coco),(13 Hours),0.163845,0.020397,0.005999,0.036615,1.795099,0.002657,1.016834
2,(Get Out),(13 Hours),0.179709,0.020397,0.006532,0.036350,1.782108,0.002867,1.016555
4,(Ninja Turtles),(13 Hours),0.238368,0.020397,0.007599,0.031879,1.562914,0.002737,1.011860
6,(Tomb Rider),(13 Hours),0.174110,0.020397,0.005999,0.034456,1.689262,0.002448,1.014561
8,(Coco),(Allied),0.163845,0.033329,0.007066,0.043124,1.293907,0.001605,1.010237
...,...,...,...,...,...,...,...,...,...
1639,(Ninja Turtles),"(Tomb Rider, Thor)",0.238368,0.014265,0.007466,0.031320,2.195614,0.004065,1.017607
1643,(Tomb Rider),"(World War Z, Ninja Turtles)",0.174110,0.024397,0.009332,0.053599,2.196964,0.005084,1.030856
1645,(Ninja Turtles),"(Tomb Rider, World War Z)",0.238368,0.020931,0.009332,0.039150,1.870467,0.004343,1.018962
1649,(Tomb Rider),"(X-Men, Ninja Turtles)",0.174110,0.019197,0.006399,0.036753,1.914497,0.003057,1.018226
1651,(Ninja Turtles),"(Tomb Rider, X-Men)",0.238368,0.016531,0.006399,0.026846,1.623945,0.002459,1.010599

In [22]:
rules[(rules['lift'] > 0.9) & (rules['lift'] < 1.01)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
346,(Green Lantern),(Intern),0.079323,0.095321,0.007599,0.095798,1.005011,0.000038,1.000528
347,(Intern),(Green Lantern),0.095321,0.079323,0.007599,0.079720,1.005011,0.000038,1.000432
356,(World War Z),(Green Lantern),0.068391,0.079323,0.005466,0.079922,1.007555,0.000041,1.000651
357,(Green Lantern),(World War Z),0.079323,0.068391,0.005466,0.068908,1.007555,0.000041,1.000555
1280,"(Ninja Turtles, Intern)",(Hotel Transylvania),0.035729,0.170911,0.006133,0.171642,1.004279,0.000026,1.000883
1281,(Hotel Transylvania),"(Ninja Turtles, Intern)",0.170911,0.035729,0.006133,0.035881,1.004279,0.000026,1.000159
1309,"(Moana, Ninja Turtles)",(Hotel Transylvania),0.047994,0.170911,0.008266,0.172222,1.007675,0.000063,1.001585
1312,(Hotel Transylvania),"(Moana, Ninja Turtles)",0.170911,0.047994,0.008266,0.048362,1.007675,0.000063,1.000387